body {
  background: url( "assets/tilebg.png" );
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

header {
  text-align: center;
}

header .title {
  color: #fff;
  font-size: 4em;
  text-align: center;
  font-family: 'Shizuru', cursive;
}

nav {
  color: #fff;
}

.view {
  border: solid 5px #fff;
  border-radius: 15px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  background: rgba( 0, 0, 0, 0.5 );
}

.view .prompt {
  font-size: 2em;
  color: #FFF76B;
}

.view .mode-label {
  color: #fff;
  position: relative;
  font-weight: bold;
}

.view input[type=text] {
  width: 75%;
  font-size: 2em;
}

.admin-view input[type=text] {
  font-size: 1em;
  width: 75%;
}

.view input[type=button] {
  font-size: 1.5em;
  background: #009E05;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 15px;
  cursor: pointer;
  padding: 20px;
}

.admin-view input[type=button] {
  padding: 5px;
  width: 50%
}

.admin-view input[type=button].delete {
  width: 15%;
  background: #72000F;
}

.view table input[type=button] {
  font-size: 1em;
  background: #FEFF31;
  color: #000;
  border: solid 2px #fff;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 15px;
}

.view table {
  width: 90%;
  margin: 0 auto;
  border: solid 2px #fff;
  margin-bottom: 50px;
}

.view table td {
  padding: 10px;
}

.clear {
  clear: both;
}

.container .left-column {
  float: left;
  text-align: center;
  width: 49%;
}
.container .right-column {
  float: right;
  text-align: center;
  width: 49%;
}

.admin-view h2 {
  font-size: 1.1em;
}

.admin-view .submissions {
  text-align: left;
}

.admin-view .submissions .prompt {
  font-size: 1em;
}

footer {
  text-align: center;
}
